text#chartTitle {
    text-decoration: underline;
    font-style: italic;
    font-size: 15px;
    text-anchor: middle;
  }
path#stockPrices{
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}
path#testLine{
    fill: none;
    stroke: violet;
    stroke-width: 1;
    fill: none;
}